.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  padding: 10px 15px;
  background-color: hsl(216, 53%, 9%);
  color: hsl(252, 100%, 67%);
}

.navbar-logo {
  font-size: 2rem;
}

.navbar-links {
  display: flex;
  gap: 2rem;
}

.navbar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: hsl(166, 100%, 37%);
  font-size: 16px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.navbar-link:hover {
  color: hsl(0, 100%, 67%);
}

.navbar-link svg {
  margin-right: 5px;
  font-size: 20px;
}

.navbar-link span {
  margin-left: 3px;
}
.navbar-links.showing{
  display:none;
}

.navbar-toggle {
  background: none;
  border: none;
  font-size: 0;
}


@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    padding: 10px;
  }

  .navbar-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  
  .navbar-links.hidden {
    display: none;
  }
  .navbar-toggle {
    background: none;
    border: none;
    font-size: 4rem;
  }
  
}


  
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 5px;
    background-image: url("../assets/pattern-hills.svg");
    color: hsl(198, 60%, 50%);
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../assets/bg-stars.svg");
    padding: 10px;
    height: 100vh;
}

.countdown-container {
  align-items: center; 
  padding: 5px;
} 

.state {
  color: hsl(252, 100%, 67%);
  font-weight: bold;
  margin-left: 6.5rem;
  font-size: 2rem;
}
.count-down {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}
.count-down-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
    margin-left: 1rem;

}
.count-down-box h3 {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    border: 1px solid hsl(176, 68%, 64%);
    border-radius: 5px;
    background-color: hsl(236, 21%, 26%);
    color: hsl(345, 95%, 68%);
    width: 100px;
    height: 95px;
}
.count-down-box span {
    font-size: 1rem;
    color: hsl(198, 60%, 50%);
}
.registration-form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 3rem auto;
  padding: 20px;
  border: 1px solid hsl(176, 68%, 64%);
  border-radius: 5px;
}
.registration-form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color:hsl(198, 60%, 50%);
  
}
.registration-form h2 {
  font-size: 20px;
}

.registration-form label {
  margin-bottom: 5px;
  font-size: 14px;
  color:hsl(176, 68%, 64%);
}

.registration-form input,
.registration-form select {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 5px;
  font-size: 14px;
}

.registration-form button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4caf50;
  color: hsl(0, 0%, 100%);
  font-size: 16px;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #45a049;
}

.registration-form span {
  color: hsl(348, 100%, 68%);
  font-size: 12px;
  margin-bottom: 10px;
}
.password-input {
  width: 95%;
}
.password-toggle {
  position: relative;
  margin-left: -25px;
}



  
  .login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 3rem auto;
    padding: 20px;
    border: 1px solid hsl(176, 68%, 64%);
    border-radius: 5px;
  }
  .login-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:hsl(198, 60%, 50%);
  }
  .login-form h2 {
    font-size: 20px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 10px;
    color:hsl(176, 68%, 64%);
  }
  
  .login-form input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  .login-form span {
    color: hsl(348, 100%, 68%);
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .login-form button{
    width: 98%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
  
  
  